@using Microsoft.AspNetCore.Identity
@using JustBlog.Model.Entities

@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Admin JustBlog Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sidebars.css" rel="stylesheet" />
    <style>
        .ck-editor__editable {
            min-height: 300px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="flex-shrink-0 p-3 bg-white col-md-2 border-left nav-bar">
                <a href="/admin/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                    <div class="fs-6 fw-semibold">Just Blog Admin</div>
                </a>
                <a href="/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                    <div class="fs-6 fw-semibold">Just Blog Web</div>
                </a>

                <a href="#" style="pointer-events: none; cursor: default;" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                    <div class="fs-6 fw-semibold">
                        Wellcome, @userManager.GetUserName(User)
                    </div>
                </a>

                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#cate-collapse" aria-expanded="false">
                            Category Manager
                        </button>
                        <div class="collapse" id="cate-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/admin/category/index" class="link-dark rounded">List</a></li>
                                <li><a href="/admin/category/create" class="link-dark rounded">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#post-collapse" aria-expanded="false">
                            Post Manager
                        </button>
                        <div class="collapse" id="post-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/admin/post/index" class="link-dark rounded">List</a></li>
                                <li><a href="/admin/post/create" class="link-dark rounded">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tag-collapse" aria-expanded="false">
                            Tag Manager
                        </button>
                        <div class="collapse" id="tag-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/admin/post/index" class="link-dark rounded">List</a></li>
                                <li><a href="/admin/post/create" class="link-dark rounded">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#role-collapse" aria-expanded="false">
                            Role Manager
                        </button>
                        <div class="collapse" id="role-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/admin/post/index" class="link-dark rounded">List</a></li>
                                <li><a href="/admin/post/create" class="link-dark rounded">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                            User Manager
                        </button>
                        <div class="collapse" id="user-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/admin/post/index" class="link-dark rounded">List</a></li>
                                <li><a href="/admin/post/create" class="link-dark rounded">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            Account
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">New...</a></li>
                                <li><a href="#" class="link-dark rounded">Profile</a></li>
                                <li><a href="#" class="link-dark rounded">Settings</a></li>
                                <li><a href="#" class="link-dark rounded">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <a class="btn btn-danger btn-lg" href="/account/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 mt-3 mb-3 pr-5 pl-5">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/sidebars.js"></script>
    <script src="~/js/urlhelper.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>
</html>
