@{
    TempData["TitlePage"] = "About Us";
}
<h1>@TempData["TitlePage"]</h1>
<hr />  
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="card " style="width: 40rem;">
            <img src="~/img/about-bg.jpg" />
            <div class="card-body">
                <p class="card-text">Just me, my sefl and I, exploring the universe of knownment. I have a heart of love and a interest</p>
            </div>
        </div>
    </div>
</div>